.planner__description-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 700px) {
  .planner__description-container {
    flex-direction: column;
    padding: 50px 0 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
