.planner__calendar-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 700px) {
  .planner__calendar-container {
    flex-direction: row;
    gap: 20px;
  }
}
