.user-select {
  height: 50px;
}

.user-select input {
  font-size: 16px;
}

.user-select__option {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-select__option-item {
  line-height: 1;
}

.user-select__option-item_name_name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-select__option-item_name_phone {
  font-size: 12px;
}

.user-select_place_reg-modal
  .user-select__option {
  gap: 8px;
}

.user-select_place_reg-modal
  .user-select__option-item_name_name {
  font-weight: 600;
}
