.reg-form {
}

.reg-form__flex-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.reg-form__numeric-item {
  width: calc((100% - 20px) / 2);
}

.reg-form__date-time-error {
  color: var(--accent-bright);
  margin-top: -24px;
  margin-bottom: 8px;
  min-height: 24px;
}

.reg-form__btn-group {
  display: flex;
  justify-content: flex-end;
}

.reg-form__btn {
  font-size: 11px;
  margin-left: 8px;
}

@media screen and (max-width: 350px) {
  .reg-form__numeric-item:first-of-type {
    width: 52%;
  }

  .reg-form__numeric-item:last-of-type {
    width: calc(48% - 20px);
  }
}
