.reg-calendar__selected-cell {
  width: 38px;
  height: 38px;
  position: absolute;
  top: -3px;
  left: -7px;
  border: 1px solid var(--accent-soft);
  border-radius: 4px;
  padding: 1px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
/* 
@media screen and (min-width: 769px) {
  .reg-calendar__selected-cell {
    display: none;
  }
} */
