.planner {
  position: relative;
}

.planner__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.planner__open-form-btn {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 10;
}
