.reg-modal {
  max-width: calc(100vw - 16px);
}

.reg-modal__form {
  width: 320px;
  max-width: 100%;
  margin: 20px auto;
}

.reg-modal__select-item {
  width: 320px;
  max-width: 100%;
  margin: 0;
}

.reg-modal__numeric-item {
  width: 140px;
}

.reg-modal__input-suffix {
  width: 20px;
}

.reg-modal__footer {
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
}

.reg-modal__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px var(--accent-soft),
    0 0 10px 4px var(--accent-bright);
  box-sizing: border-box;
}

.reg-modal__box:nth-child(2) {
  margin-top: 10px;
}

.reg-modal__user-social {
  align-self: flex-end;
  margin-right: -10px !important;
}

.reg-modal__numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reg-modal__date-time-container {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  font-size: 12px;
}

.reg-modal__duration-income-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-end;
  gap: 8px;
}

.reg-modal__income {
  background: var(--disabled);
  padding: 0 4px;
  border-radius: 4px;
  font-weight: 600;
  align-self: flex-end;
}

.reg-modal .ant-modal-content {
  padding: 20px 8px;
}

.reg-modal__box
  :where(
    .css-dev-only-do-not-override-wdcn8v
  ).ant-form-item {
  margin-bottom: 0;
}

@media screen and (min-width: 570px) {
  .reg-modal__form {
    width: auto;
  }

  .reg-modal__footer {
    width: auto;
  }

  .reg-modal__box {
    flex-direction: row;
    justify-content: space-between;
  }

  .reg-modal__duration-income-container {
    flex-direction: column;
  }

  .reg-modal__duration-income-container {
    gap: 0;
  }

  .reg-modal .ant-modal-content {
    padding: 20px 24px;
  }
}

@media screen and (max-width: 570px) {
  .reg-modal__user-social {
    margin-top: -10px !important;
    margin-bottom: -5px !important;
  }
}
