.planner-calendar {
  max-width: 500px;
}

.planner-calendar__description-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: -6px;
}

.planner-caledar__description-list-item {
  position: relative;
}

.planner-caledar__description-list-item:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: -20px;
  border-radius: 4px;
}

.planner-caledar__description-list-item:first-of-type::before {
  background: var(--accent-bright);
}

.planner-caledar__description-list-item:nth-of-type(
    2
  )::before {
  background: var(--color-1);
}

.planner-caledar__description-list-item:nth-of-type(
    3
  )::before {
  background: var(--color-2);
}

.planner-calendar__cell {
  width: 38px;
  height: 38px;
  position: absolute;
  top: -3px;
  left: -7px;
}

.planner-calendar__cell_type_event {
  width: 38px;
  height: 38px;
  position: absolute;
  top: -3px;
  left: -7px;
  border: 1px solid var(--accent-soft);
  border-radius: 4px;
  padding: 1px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2px;
}

.planner-calendar__badge {
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  color: var(--main-back);
  border-radius: 2px;
  padding: 1px 2px;
}

.planner-calendar__badge_type_master-reg {
  background: var(--accent-bright);
}

.planner-calendar__badge_type_reg {
  background: var(--color-1);
}

.planner-calendar__badge_type_note {
  background: var(--color-2);
}

@media screen and (min-width: 500px) {
  .planner-calendar__description-list {
    padding-left: 0;
  }
}
