@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700;800&display=swap');

@import url(./vendor/variables.css);

@import url(./blocks/root/root.css);

@import url(./blocks/planner/planner.css);
@import url(./blocks/planner/planner__calendar-container.css);
@import url(./blocks/planner/__calendar-cell/planner__calendar-cell_type_event.css);
@import url(./blocks/planner/planner__badge.css);
@import url(./blocks/planner/planner__description-container.css);
@import url(./blocks/planner/planner__description-list.css);
@import url(./blocks/planner/planner__description-list-item.css);

@import url(./blocks/todo-list/todo-list.css);
@import url(./blocks/todo-list/todo-list__time-table.css);
@import url(./blocks/todo-list/todo-list__time-table-cell.css);
@import url(./blocks/todo-list/todo-list__reg-card.css);
@import url(./blocks/todo-list/todo-list__reg-card-item.css);

/* стили для antd */
:where(
    .css-dev-only-do-not-override-5dcebe
  ).ant-select-single:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  height: 40px;
  padding-top: 2px;
  min-width: 160px;
}

@media screen and (min-width: 700px) {
}
