.reg-card {
  width: calc((100% - 74px));
  position: absolute;
  left: 74px;
  background: var(--accent-bright);
  border-radius: 4px;
  padding: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.reg-card_invisible {
  display: none;
}

.reg-card_transparent {
  opacity: 0.5;
}

.reg-card__box {
  background: var(--main-back);
  margin-bottom: 4px;
  padding: 4px 8px;
  border-radius: 4px;
}

.reg-card__name {
  margin: 0;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reg-card__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-text);
}

.reg-card__link-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.reg-card__link-list li {
  height: 20px;
}

.reg-card__link {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.reg-card__link-icon {
  width: 20px;
  height: 20px;
  object-position: center;
}

.reg-card__number-list {
  display: flex;
  justify-content: space-between;

  font-weight: 600;
}

.reg-card__number {
  background: var(--accent-soft);
  color: white;
  padding: 0 4px;
  border-radius: 4px;
}

.reg-card__service-list {
  list-style: none;
  margin: 0;
  padding-left: 8px;
  color: var(--light-text);
}

.reg-card__service {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reg-card__services-paragraph {
  margin: 0;
  color: var(--light-text);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reg-card__close-btn {
  color: var(--accent-bright);
  position: absolute;
  top: -21px;
  left: -21px;
}

@media screen and (max-width: 350px) {
  .reg-card {
    font-size: 12px;
  }
}
