.reg-card {
  width: calc((100% - 74px));
  position: absolute;
  left: 74px;
  border-radius: 4px;
  padding: 4px;
  font-size: 14px;
  box-sizing: border-box;
  background: var(--accent-bright);
}

.reg-card_invisible {
  display: none;
}

.reg-card_type_copy {
  width: 190px;
  height: 88px !important;
  margin-bottom: -88px;
  font-size: 10px;
  background: var(--accent-soft);
  position: sticky;
  top: 0px !important;
  left: calc(100% - 190px) !important;
  z-index: 10;
  cursor: auto;
}

.reg-card__box {
  background: var(--main-back);
  margin-bottom: 4px;
  padding: 4px 8px;
  border-radius: 4px;
}

.reg-card__name {
  margin: 0;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
}

.reg-card__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-text);
  width: 80%;
}

/* .reg-card__link-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.reg-card__link-list li {
  height: 20px;
}

.reg-card__link {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.reg-card__link-icon {
  width: 20px;
  height: 20px;
  object-position: center;
} */

.reg-card__number-list {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.reg-card__number {
  background: var(--accent-soft);
  color: white;
  padding: 0 4px;
  border-radius: 4px;
}

.reg-card__service-list {
  list-style: none;
  margin: 0;
  padding-left: 8px;
  color: var(--light-text);
}

.reg-card__service {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reg-card__services-paragraph {
  margin: 0;
  color: var(--light-text);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reg-card__btn-group {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 4px;
}

.reg-card__move-btn {
  background: rgb(199, 119, 107) !important;
  color: var(--main-back) !important;
}

.reg-card__close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 350px) {
  .reg-card {
    font-size: 12px;
  }
}
