.note-card {
  position: relative;
  padding: 8px;
  background: var(--disabled);
  margin-bottom: 8px;
}

.note-card__box {
  background: var(--main-back);
  margin-bottom: 8px;
  padding: 4px 8px;
  border-radius: 4px;
}

.note-card__box:last-of-type {
  margin-bottom: 0;
}

.note-card__time {
  margin: 0 0 8px 0;
  width: 50px;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
  color: var(--main-back);
  background: var(--color-4);
  box-sizing: border-box;
}

.note-card__text {
  margin: 0;
}

.note-card__name {
  margin: 0;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
}

.note-card__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-text);
  padding-right: 4px;
}

.note-card__icon {
  color: var(--main-back);
}
