.todos {
  position: relative;
  padding: 20px 0;
  max-width: 500px;
}

.todos__time-table-row {
  width: 100%;
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.todos__time-table-cell {
  background: var(--disabled);
  font-size: 16px;
  text-align: center;
  padding: 4px 0;
  width: calc((100% - 74px));
  height: 54px;
  box-sizing: border-box;
}

.todos__time-table-cell:first-of-type {
  width: 20%;
  width: 70px;
  cursor: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todos__time-table-cell_active {
  cursor: pointer;
}

.todos__time-table-cell_active:hover,
.todos__time-table-cell_selected {
  background: var(--accent-soft);
}
