.note-form__date-time-container {
  display: flex;
  justify-content: space-between;
}

.note-form__btn-group {
  display: flex;
  justify-content: flex-end;
}

.note-form__btn {
  font-size: 11px;
  margin-left: 8px;
}
